NEXT_PUBLIC_API_URL=https://api-ecommerce.operly.tech
NEXT_PUBLIC_APP_DOMAIN=ecommerce.operly.tech

# Desarrollo local
# NEXT_PUBLIC_API_URL=http://localhost:4001
# NEXT_PUBLIC_APP_DOMAIN=localhost:4002
